# Copy this file to .env (if you use .env) or otherwise load these environment variables into your runtime environment.
# The url where our API server listens
AIQA_SERVER_URL=http://localhost:4001
# AIQA_SERVER_URL=https://aiqa.winterwell.com
# Your organisation ID within AIQA
AIQA_ORGANISATION_ID=
# The API key to use
AIQA_API_KEY=
# Optional component tag to add to all spans (e.g., "mynamespace.mysystem")
# This allows you to filter by which component/system generated the spans - e.g. in the AIQA Traces view.
AIQA_COMPONENT_TAG=